{% extends "layout.html" %}
 
{% block body %}
<h1 class="text-white">About Malith Sen</h1>
<div class=content>
    <img src="../static/img/profile.jpg" alt="profile image"  class="img-thumbnail rounded-circle" width="200" height="200">

    <article class="shadow-lg text-white">
        <p><strong style="font-size: 1.2em;">Malith Sen</strong> is a Freelance French speaking tour guide in the paradise island nation Sri Lanka!!!
        </p>
        <p>Tourism is Malith's passion and his main hobby as well. It has privileged him to travel all around Sri Lanka free of charge while enjoying archeology, wildlife and green nature. Tourism has also routed himself to his second hobby, photography as well. </p>
        <p>His third and most passionate hobby is undoubtedly, CODING. Due to prevailing global crisis, tourism industry in Sri Lanka is totally collapsed. Thousands like Malith who made a living thanks to tourism  are at home unemployed. But there's a saying 
        <strong style="font-size: 1.2em; letter-spacing: -1px;"> In every dark cloud there's a Silver Lining.</strong>  Malith is a believer that his silver lining  is coding and he is now looking for newer avenues in coding. Learning Flask is one part of his startegy. The second strategy will be revising Computer Science using Python, learning Data Science, and enhancing his knowledge in Laravel Development.</p>
        <p>At the moment he is engaged in developing <a href="https://avogaholidays.com/">Avoga Holidays</a> on behalf of one of his best buddy in the tourism industry. That has equally given him great exposure to CodeIgniter, Laravel and now it's englighting him in Flask Framework as well. If you have any ideas to develop his skills and secure a slot in IT, please let Malith know. </p>
    </article>    
</div>
<footer>
    <p id="social">Follow Malith on <a href="https://web.facebook.com/profile.php?id=100010689762041" target="_blank">Facebook</a></p>
</footer>

 
{% endblock body %}
