<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.5/build/pure-min.css"
        integrity="sha384-LTIDeidl25h2dPxrB2Ekgc9c7sEC3CWGM6HeFmuDNUjX76Ert4Z4IY714dhZHPLd" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="A layout example that shows off a responsive product landing page.">
    <title>{{title}}</title>
    
    <link rel="stylesheet" href="https://purecss.io/css/pure/pure-min.css">
    <link rel="stylesheet" href="https://purecss.io/css/pure/grids-responsive-min.css">
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
    <link rel="stylesheet" href="https://purecss.io/layouts/marketing/styles.css">
    <link rel="stylesheet" href="https://purecss.io/layouts/pricing/styles.css">
    <link rel="stylesheet" href="../static/css/admin.css">
</head>

<body>
    {% include 'includes/_navbar_admin.html' %}
    
        <div class="container">
            {% include 'includes/_admin_messages.html' %}
            {% block body %}{% endblock %}
        </div>
    

</body>

</html>